<h1> This is our home page </h1>

<form action="/ask" method="get">
  <label>Ask your coach anything</label><br>
  <input type="text" name="question" placeholder="What is your question?">
  <input type="submit" value="ask!" id="btn">
</form>
